{% extends 'layout.html' %}
{% block content %}
    <form method="post" action="{% url 'bookmark-list' %}">{% csrf_token %}
    {% include 'bookmarks/_form.html' %}
    </form>
        {% for bookmark in bookmarks %}
            <div class="row link-block">
                <div class="col-12">
                    <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>
                    <br/>
                    <small>{{ bookmark.created_at }}</small>
                </div>
            </div>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
{% endblock %}